*{ box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Lato');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


/* navbar */
nav{ position: absolute; top: 0; left: 0; width: 100%; z-index: 2; height: 50px; background: transparent; font-family: 'Helvetica',sans-serif; }

.menu{ position: relative; margin: 30px 0 30px 180px; width: 1150px; overflow: hidden; }
.menu ul{ width: 100%; margin: 0; padding: 0; display: flex; justify-content: space-between; list-style: none; }
.menu ul li, .menu ul li a{ color: #fff; font-size: 16px; line-height: 50px; text-decoration: none; }
.menu ul li a:hover { color: #000000; }
.menu ul li a img{ width: 55px; height: 55px; }


/* img Background*/

.v-header{ height:100vh; display:flex; align-items:center; color:#fff; }
.container{ max-width:960px; padding-left:1rem; padding-right:1rem; margin:auto; text-align:center; }
.fullscreen-img{ position:absolute; top:0; left:0; width:100%; height:100vh; overflow:hidden; }
.fullscreen-img img{ max-width: 100%; }

/* Header */

.header-overlay{ height:100vh; position: absolute; top:0; left:0; width:100vw; background: linear-gradient(to right, #159957, #155799); opacity:0.5; }

.header-content{ 
	z-index: 2; position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;	
}

.header-content h2{ font-size:50px; margin-bottom:10px; font-family: 'Beyond', sans-serif; }

.header-content p{ font-size:20px; font-family:'Helvetica', cursive; display:block; padding-bottom:2rem; }


/* Swiper */

.s-container {
	z-index: 2;
	position: absolute;
	top: 30%;
  width: 100%;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 170px;
  width: 270px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}


